@page

<head>
<link rel="stylesheet" href="~/css/styleLogin.css" />
</head>
  
<div class="container">
  <div class="wrapper" action="Login/Autenticar" method="get">
    <form class="form-signin">
		<center><img src="https://cdn2.iconfinder.com/data/icons/flat-icons-19/512/Coin.png" height="100px;"></center>
		<input style="margin-top:25px" type="text" class="form-control" name="Email" placeholder="Email" required="" autofocus="" />
		<input style="margin-top:10px" type="password" class="form-control" name="Senha" placeholder="Senha" required=""/>      
		<button style="margin-top:30px" class="btn btn-lg btn-primary btn-block" type="submit">Logar</button>   
    </form>
  </div>
</div>